.version {
  position: fixed;
  bottom: 0.833em; /* 10px */
  right: 0.833em; /* 10px */
  font-size: 1em; /* 12px */
  color: rgba(0, 0, 0, 0.6);
  font-family: monospace;
  user-select: none;
  pointer-events: none;
  z-index: 50;
}